body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("/static/img/videoblocks-woman-on-city.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-2 {
    /* The image used */
    background-image: url("/static/img/videoblocks-legs-on-hoverboard-person.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-login {
    /* The image used */
    background-image: url("/static/img/image_login_page.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.standard_page {
    /*        margin-bottom: 100px;    */
}

.nav_padding {
    margin-bottom: 5rem;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption2 {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}

span.border_ {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.second_part {
    background-color: #FCFACE;
}

.padding_site {
    max-width: 1366px;
    margin: 0 auto;
    border-left: 1px solid #FDE7B5;
    border-right: 1px solid #FDE7B5;
    padding-left: 7%;
    padding-right: 7%;
}

.card-product:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
}

.card-product .price-new,
.card-product .price {
    margin-right: 5px;
}

.card-product .price-old {
    color: #999;
}

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}

.card-product .img-wrap-2 {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}

.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
}

.card-product .img-wrap-2 img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
    transform: scale(1.4);
}

.card-product .img-wrap:hover img {
    transform: scale(1.4);
}

.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}

.card-product .action-wrap {
    padding-top: 4px;
    margin-top: 4px;
}

.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.card-product .title {
    margin-top: 0;
}

.authentication_form {
    display: flex;
    overflow-y: scroll;
    /*align-items: center;*/
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.authentication_form label {
    color: white;
    margin-bottom: .3rem;
}

.authentication_form li {
    list-style-type: none;
    color: navajowhite;
}

.authentication_form ul {
    margin-bottom: 0.4rem;
}

.authentication_form input {
    width: 80%;
    height: calc(2.2rem + 2px)
}

.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}

.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}

.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}

.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}

.product_rassurance .list-inline li:hover {
    color: #343a40;
}

.reviews_product .fa-star {
    color: gold;
}

.pagination {
    margin-top: 20px;
}

.edit_form{
    margin-bottom: 10px;
    margin-top: 200px;
}

  .scrollbar-black::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

  .scrollbar-black::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

  .scrollbar-black::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #000; }


  .bordered-indigo::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

  .bordered-black::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #000; }

  .bordered-black::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

  .square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

  .square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

  .thin::-webkit-scrollbar {
  width: 6px; }