{% extends 'adminapp/admin_base.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }} | {{ title|title }}
{% endblock %}

{% block mainsite %}
    <div class="users_list">
        <button class="new_category btn btn-primary ">
            <a href="{% url 'admin:users_create' %}">
                <i class="fa fa-plus-circle"></i> новый пользователь</a>
        </button>
        {% for object in object_list %}
        <div class="user_record {% if not object.is_active %}not_active{% endif %}">
            <img src="/media/{{ object.profile_pic|default:'profiles_pic/default-user.png'}}"
                 alt="{{ object.username }}">
            <div class="user_role">
                {% if object.is_superuser %}администратор{% else %}пользователь{% endif %}
                <p>
                    <strong>{{ object.username }}</strong>
                </p>
                <p>
                    {% if object.first_name %}
                    <b>{{ object.first_name|title }}</b>
                    {% if object.last_name %}
                <p>{{ object.last_name|title }}</p>
                {% endif %}
                {% endif %}
                </p>
            </div>
            <div class="user_age">
                age:<br>
                {{ object.age }} лет
            </div>
            <div class="user_email">
                email:<br>
                {{ object.email }}
            </div>
            <div class="user_lastlogin">
                logged:<br>
                {{ object.last_login }}
            </div>
            <div class="user_edit">
                <a class="btn btn-secondary btn-sm" data-toggle="tooltip" title="Редактировать"
                   href=" {% url 'admin:users_update' object.pk %}">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
                <a class="btn btn-danger btn-sm" data-toggle="tooltip" title="Удалить"
                   href=" {% url 'admin:users_delete' object.pk %}">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            {% if page_obj.has_previous %}
            <a class="page-link " href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            {% else %}
                <span class="page-link" aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            {% endif %}
        </li>
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active"><a class="page-link" href="?page={{ i }}">
            {{ i }} <span class="sr-only">(current)</span>
            </a>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
            {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            {% else %}
                <span class="page-link" aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            {% endif %}
        </li>
    </ul>
</nav>
{% endif %}
{% endblock %}