{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | {{ title|title }}
{% endblock %}

{% block userform %}

    <div class="authentication_form col-lg-5 bg-dark">
        <div class="d-flex flex-row">
            <a class="fb-ic" href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
                <i class="fa fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="fb-ic" href="{% url 'social:begin' 'google-oauth2' %}?next=/">
                <i class="fa fa-google fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ reg_form.as_p }}
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            <a class="btn btn-primary" href="{% url 'auth:auth' %}" role="button">Назад</a>
        </form>
    </div>

{% endblock %}