{% load staticfiles %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav_padding fixed-top">
    <a class="navbar-brand" href="index.html"><img src="{% static 'img/hover_board.png' %}" width="50" height="50"
                                                   alt=""></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!--Light active links-->
            <a class="nav-item nav-link {% if request.resolver_match.url_name == 'index'%} active {% endif %}"
               href="{% url 'index' %}">Главная</a>
            <li class="nav-item dropdown">
                <!--Light active links inf dropdown menu-->
                <a class="nav-link dropdown-toggle
                    {% if request.resolver_match.url_name == 'catalogue' or request.resolver_match.kwargs.category_id %}
                        active {% endif %}"
                   href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Каталог
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item
                        {% if request.resolver_match.url_name == 'catalogue' %} active {% endif %}"
                       href="{% url 'catalogue:catalogue' %}">Все категории</a>
                    {% for item in category %}
                    <!--Light active link of dropdown menu-->
                    <a class="dropdown-item
                        {% if request.resolver_match.kwargs.category_id == item.id %} active {% endif %}"
                       href="{% url 'catalogue:catalogue' item.id %}\">{{ item.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <a class="nav-item nav-link {% if request.resolver_match.url_name == 'basket'%} active {% endif %}"
               href="#">Корзина</a>
            <a class="nav-item nav-link {% if request.resolver_match.url_name == 'contacts'%} active {% endif %}"
               href="#">Контакты</a>
        </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                   placeholder="Ищем...">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary btn-number">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <a class="btn btn-success btn-sm ml-3" href="#">
            <i class="fa fa-shopping-cart"></i> Корзина
            <span class="badge badge-light">0</span>
        </a>
        {% if user.is_authenticated %}
            <a class="btn btn-danger btn-sm ml-3" href="{% url 'auth:logout' %}">
                <i class="fa fa-sign-out"></i> Выйти
            </a>
        {% else %}
            <a class="btn btn-success btn-sm ml-3" href="{% url 'auth:auth' %}">
                <i class="fa fa-sign-in"></i> Войти
            </a>
        {% endif %}
    </form>
</nav>

