{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }} | {{ title|title }}
{% endblock %}

{% block mainsite %}
<div class="bg-2">
    <div class="container-fluid standard_page">
        {% include 'mainapp/include/inc__navigation_menu.html/'%}
        <div class="row" style="padding-top: 10%">
            <div class="col-md-3">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="/static/img/Gold%20Wheels%206%20Black.jpg">
                        <!--                            <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>-->
                    </div>
                    <figcaption class="info-wrap">
                        <h6 class="title text-dots"><a href="#">Good item name</a></h6>
                        <div class="action-wrap">
                            <a href="#" class="btn btn-primary btn-sm float-right"> Order </a>
                            <div class="price-wrap h5">
                                <span class="price-new">$1280</span>
                                <del class="price-old">$1980</del>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="/static/img/Gold%20Wheels%206%20Pro%20Black.jpg">
                        <!--                            <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>-->
                    </div>
                    <figcaption class="info-wrap">
                        <h6 class="title text-dots"><a href="#">The name of product</a></h6>
                        <div class="action-wrap">
                            <a href="#" class="btn btn-primary btn-sm float-right"> Order </a>
                            <div class="price-wrap h5">
                                <span class="price-new">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="/static/img/HB-1861K.jpg">
                        <!--                            <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>-->
                    </div>
                    <figcaption class="info-wrap">
                        <h6 class="title text-dots"><a href="#">Name of product</a></h6>
                        <div class="action-wrap">
                            <a href="#" class="btn btn-primary btn-sm float-right"> Order </a>
                            <div class="price-wrap h5">
                                <span class="price-new">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="/static/img/HB-1861W.jpg">
                        <!--                            <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>-->
                    </div>
                    <figcaption class="info-wrap">
                        <h6 class="title text-dots"><a href="#">The name of product</a></h6>
                        <div class="action-wrap">
                            <a href="#" class="btn btn-primary btn-sm float-right"> Order </a>
                            <div class="price-wrap h5">
                                <span class="price-new">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
        </div>
        <!-- row.// -->

    </div>
</div>
{% endblock %}