<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Каталог - Cuter on a scooter</title>

</head>
<body>
    <div class="header">
        <a href="index.html"><img src="/static/img/hover_board.png"/></a>
        <h1>Cuter on a scooter</h1>
        Встань на скутер, детка!
        <hr>
        <ul class="menu"><strong>Меню</strong><br>
            <li><a href="{%url 'index' %}">Главная</a></li>
            <li><a href="{%url 'catalogue' %}">Каталог</a></li>
            <li><a href="{%url 'contacts' %}">Контакты</a></li>
        </ul>
        <hr>
    </div>
    <h2>Каталог товаров</h2>
    <a class="catalog_img" href="/static/img/HB-1861K.html">
        <img src="/static/img/HB-1861K_small.jpg"
             alt="HB-1861K"
             title="HB-1861K"/>
        <br>
        HB-1861K
    </a>
    <br>

    <a class="catalog_img" href="/static/img/HB-1861W.html">
        <img src="/static/img/HB-1861W_small.jpg"
            alt="HB-1861W"
            title="HB-1861W">
        <br>
        HB-1861W
    </a>
        <br>

    <a class="catalog_img" href="#">
        <img src="/static/img/Gold%20Wheels%206%20Black_small.jpg"
            alt="Gold Wheels 6 Black"
            title="Gold Wheels 6 Black"
        />
    <br>
    Gold Wheels 6 Black
    </a>
    <br>

    <a class="catalog_img" href="#">
        <img src="/static/img/Gold Wheels 6 Pro Black_small.jpg"
             alt="Gold Wheels 6 Pro Black"
             title="Gold Wheels 6 Pro Black"
        />
    <br>
        Gold Wheels 6 Pro Black
    </a>
    <br>
    <hr>
   <div class="footer">&copy; 2018 Все права(какие ещё у меня остались), защищены.</div>
</body>
</html>