<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Контакты - Cuter on a scooter</title>
</head>
<body>
    <div class="header">
        <a href="index.html"><img src="/static/img/hover_board.png"/></a>
        <h1>Cuter on a scooter</h1>
        Встань на скутер, детка!
        <hr>
        <ul class="menu"><strong>Меню</strong><br>
            <li><a href="{%url 'index' %}">Главная</a></li>
            <li><a href="{%url 'catalogue' %}">Каталог</a></li>
            <li><a href="{%url 'contacts' %}">Контакты</a></li>
        </ul>
        <hr>
    </div>
    <h2>Напишите нам</h2>
    <form action="#">
        <fieldset class="boxes">
            <legend>Оставьте отзыв</legend>
            <label>Как к вам обращаться <input type="text" size="30" placeholder="Ваше Имя"></label><br>
            <label>Ваш email для связи &nbsp;&nbsp;&nbsp;<input type="email" size="30" placeholder="Ваш email"></label>
            <br><br>
            <label>
                Напишите нам, что вы думаете.<br>
                Нам важно ваше мнение!<br>
                <textarea rows="10" cols="37" placeholder="Ваше сообщение"></textarea><br>
            </label>
            <button type="submit">Оставить отзыв</button>
            <button type="reset">Очистить форму</button>
        </fieldset>
    </form>
    <h2>Как нас найти</h2>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A890b29408d873f345257a4bf1b2178bbd091743b7f014426ae56728501f4ce3d&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

    <hr>
    <div class="footer">&copy; 2018 Все права(какие ещё у меня остались), защищены.</div>
</body>
</html>

