{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | {{ title|title }}
{% endblock %}

{% block mainsite %}
    <div class="bg">
        <div class="container-fluid standard_page">
            {% include 'mainapp/include/inc__navigation_menu.html/'%}
            <div class="caption">
                <span class="border_">CUTER OT THE</span>
                <br> <br>
                <span class="border_">SCOOTER</span>
            </div>
        </div>
    </div>

    <div class="container-fluid standard_page padding_site ">
        <div class="row justify-content-around" style="margin-top: 10%; margin-bottom: 10%">
            <div class="col-6 d-flex justify-content-center">
                <div class="card border border-dark" style="width: 70%">
                    <img class="card-img-top border-bottom border-dark"
                         src="{% static 'img/Gold Wheels 6 Pro Black.jpg' %}"
                         alt="Gold Wheels Pro Black">
                    <div class="card-body">
                        <h5 class="card-title">Gold Wheels 6 Pro Black <span class="badge badge-primary">New</span></h5>
                        <p class="card-text">Почуствуй себя настоящим хипстером<br>балансируй с удовольствием.</p>
                        <a href="#" class="btn btn-primary">Посмотреть поближе</a>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div class="card border border-dark" style="width: 70%">
                    <img class="card-img-top border-bottom border-dark"
                         src="{% static 'img/HB-1861W.jpg' %}"
                         alt="HB-1861W">
                    <div class="card-body ">
                        <h5 class="card-title">HB-1861W <span class="badge badge-primary">New</span></h5>
                        <p class="card-text">Новая модель в потярсающем белом цвете <br>приятно удивит вас.</p>
                        <a href="#" class="btn btn-primary">Посмотреть поближе</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}