<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Главная - Cuter on a scooter</title>
</head>
<body>
    <div class="header">
        <a href="index.html"><img src="/static/img/hover_board.png"/></a>
        <h1>Cuter on a scooter</h1>
        Встань на скутер, детка!
        <hr>
        <ul class="menu"><strong>Меню</strong><br>
            <li><a href="{%url 'index' %}">Главная</a></li>
            <li><a href="{%url 'catalogue' %}">Каталог</a></li>
            <li><a href="{%url 'contacts' %}">Контакты</a></li>
        </ul>
        <hr>
    </div>
<h2>Главная</h2>
    <p>Ты мечтаешь стать ещё моднее, ещё хипстернее, ещё более cuter?
        <sup><small>симпатичнее</small></sup>
        <br>
    </p>
    <p>
        Тогда тебе к нам!
    </p>
    <p>
        Только на нашем сайте ты найдёшь самый крутые и убойные гиро- и не только скутеры!<br>
        Гироскутер – уникальный вид транспорта на небольшие расстояния. Несмотря на свои скромные размеры он<br>
        действительно дает свободу и независимость от других, более громоздких и требовательных средств передвижения.
    </p>

    <h2>Ты только взгляни на этих крошек</h2>
    <div class="catalog_img">
        <img class="catalog_img" src="/static/img/Gold%20Wheels%206%20Black_small.jpg"
             alt="Gold Wheels 6 Black"
             title="Gold Wheels 6 Black"
        />
        <img class="catalog_img" src="/static/img/Gold%20Wheels%206%20Pro%20Black_small.jpg"
             alt="Gold Wheels 6 Pro Black"
             title="Gold Wheels 6 Pro Black"
        />
    </div>


    <hr>
    <div class="footer">&copy; 2018 Все права(какие ещё у меня остались), защищены.</div>
</body>
</html>